@import './reset';

body {
    font-family: 'ubuntu';
}

input, button {
    font-family: inherit;
    outline: none;
}

// default box-sizing all emlements is border-box
html{
    box-sizing: border-box;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

// Clear fix
.clearfix:before,
.clearfix:after {
    content: '';
    display: table;
}
.clearfix:after {clear: both}


.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    padding: 1em;
    color: rgb(68, 68, 68);
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .form__item {
        display: flex;
        flex-direction: column;
        margin-bottom: 1em;
        flex-basis: 100%;
        .form__label {
            padding: 4px;
        }
        .form__info {
            padding: 1.25em .5em;
            border: none;
            border: 1px solid rgba(230,230,230, 1);
            width: 100%;
        }
        .form__info_success {
            border-color: rgba(0, 230, 0, 1);
        }
        .form__info_error {
            border-color: rgba(230, 0, 0, 1);   
        }
    }
    .form__text {
        width: 100%;
        font-size: .75em;
        text-align:center;
        color: rgba(180,180,180, 1);
        padding: 8px 4px;
        a {color: rgba(100, 100, 100, 1);}
    }
}

.alert {
    color: rgba(230, 0, 0, 1);
    background-color: rgba(230, 0, 0, .2);
    font-size: .7em;
    padding: 2px;
    margin-top: 4px;
    line-height: 1.2;
}
.alert_hidden {
    display: none;
}
.alert_show {
    display: block;
}

.btn {
    border:none;
    padding: 1em .5em;
    font-size: 1em;
    width: 100%;
    background-color: transparent;
    border: 1px solid rgba(230,230,230, 1);
    cursor: pointer;
    margin-top: 1em;
    &:hover {background-color: rgba(230,230,230, .3)}
}

.banner {
    min-height: 100vh;
    min-width: 100vw;
    background-image: url('../img/banner.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .7);
        top: 0;
        left: 0;
    }
}

nav {
    position: relative;
    z-index: 2;
    .nav {
        display: flex;
        .nav__item {
            margin: 1em .5em;
            .nav__link {
                color: #fff;
                // text-decoration: none;
                letter-spacing: 1px;
            }
        }
    }
}
@media screen and (min-width: 400px) {
    .half {
        flex-basis: 48% !important;
    }
}